@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #272b32;
    background-image: url('../src/assets/kame-house.jpg');
    background-size: cover;
}

@font-face {
    font-family: "Saiyan-Sans";
    src: url('./assets/fonts/Saiyan-Sans.ttf') format(truetype);
}